/* Fonts */
h1 {
	font-size: 175% !important;
	margin-top: 0.75em !important;
	margin-bottom: 0.75em !important;
    /* line-height: 1.1em !important; */
}
h2 {
	font-size: 125% !important;
    line-height: 1em !important;
}
h3 {
	font-weight: bold !important;
	font-size: 100% !important;
    line-height: 1em !important;
}
h4 {
	font-weight: bold !important;
	font-size: 150% !important;
    line-height: 1em !important;
}
h5 {
	font-weight: bold !important;
	font-size: 150% !important;
    line-height: 1em !important;
}
h6 {
	font-weight: bold !important;
	font-size: 150% !important;
    line-height: 1em !important;
}

a {
	color: rgb(16, 148, 97);
}